<%- include("partials/header.ejs")  %>

<!-- <div class="px-4 py-4 text-center">
    <h1 class="d-flex justify-content-center align-items-top mb-4"><%=title%></h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4"><%=text%></p>
    </div>
</div> -->

<div class="d-flex align-items-center justify-content-center px-4 py-5 my-4">
    <div class="blog-container mx-auto p-4">
      <!-- Blog Title -->
      <h1 class="blog-title"><%=title%></h1>
      
      <!-- Blog Text -->
      <p class="blog-text">
        <%=text%>
      </p>
    </div>
</div>

<%- include("partials/footer.ejs")  %>